body {
    /* Fix for an annoying password manager bug causing random overflow */
    overflow: hidden;
}

.authPage {
    max-width: 100dvw;
    max-height: 100dvh;
    overflow: hidden;
    display: grid;
    gap: 0;
    grid-template-rows: repeat(2, 1fr);
}

.authCard {
    box-shadow: none;
    background-color: color-mix(in srgb, var(--neutral-600), transparent 95%);
    backdrop-filter: blur(12px);
}

.authCardBody {
    display: grid;
}

.heroSection {
    position: relative;
}

.formSection {
    background: 
        radial-gradient(
            circle at 150% -60%,
            var(--primary-clr) 10%,
            color-mix(in srgb, var(--primary-clr), transparent 100%) 66%,
            transparent 50%
        ),
        radial-gradient(
            circle at 150% 160%,
            var(--secondary-clr),
            color-mix(in srgb, var(--secondary-clr), transparent 100%) 66%,
            transparent
        )
    ;
    display: grid;
    align-content: center;
    padding: var(--space-sm);
    position: relative;
}

.authLogo {
    position: absolute;
    top: var(--space-2);
    right: var(--space-2);
    max-width: clamp(75px, 15vw, 150px);
    max-height: clamp(75px, 15vw, 150px);
    aspect-ratio: 1;
}

@media (min-width: 768px) {
    .authPage {
        grid-template-columns: 50vw auto;
        grid-template-rows: 1fr;
    }
}