body {
    /* Fix for an annoying password manager bug causing random overflow */
    overflow: hidden;
}

.authPage {
    max-width: 100dvw;
    max-height: 100dvh;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.authCardBody {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.heroSection {
    position: relative;
}

.formSection {
    padding: var(--space-sm);
}

.authLogo {
    position: absolute;
    top: var(--space-2);
    right: var(--space-2);
    max-width: clamp(75px, 15vw, 150px);
    max-height: clamp(75px, 15vw, 150px);
    aspect-ratio: 1;
}

@media (min-width: 768px) {
    .authPage {
        grid-template-columns: 50vw auto;
        grid-template-rows: 1fr;
    }
}