.history {
    display: grid;
    grid-template-rows: auto auto;
    gap: var(--space-4);
    justify-self: center;
    width: clamp(200px, 75ch, 100%);
}

.historyControls {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.collapseHistory {
    transform: rotate(180deg);
}

.expandHistory {
    transform: rotate(0deg);
}

.historyWrapper {
    border-radius: 2rem;
    padding: 0;
    position: relative;
    width: 100%;
    max-height: 0;

    &.collapsedContainer {
        grid-template-rows: 0fr;
        padding: 0;
        background-color: transparent;
        pointer-events: none;
        overflow: hidden;

        & .historyList {
            max-height: 0;
            padding: 0;
            background-color: transparent;
            opacity: 0;
        }
    }

    &.expandedContainer {
        z-index: 1;
        overflow: visible;

        & .historyList {
            max-height: max-content;
            padding: var(--space-4);
            background-color: var(--neutral-200);
        }
    }
}

.showRecentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-4);
    background-color: var(--neutral-200);
    padding: var(--space-2);
    border-radius: 999px;
}

.searchCount {
    color: var(--neutral-600);
    padding: 0;
    width: 1.2em;
    height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-300);
    border-radius: 999px;
}

.historyList {
    display: grid;
    gap: var(--space-2);
    overflow: hidden;
    position: absolute;
    border-radius: 2rem;
    width: 100%;
    transition: all 300ms ease;
}