.stageSelectBtn {
    padding: 0;
    width: 20px;
    height: 20px;
    max-height: auto;
    flex-shrink: 0;
    background-color: color-mix(in oklab, var(--color-neutral-300), transparent 75%);
    border: 1px solid var(--color-neutral-200);

    &.isActive {
        transform: scale(1.25);
        background-color: color-mix(in oklab, var(--color-accent-300), transparent 75%);
        border: 1px solid var(--color-accent-200);

        &:hover {
            background-color: color-mix(in oklab, var(--color-accent-300), transparent 75%);
            transform: translateY(-1px) scale(1.25);
        }
    }

    &.success {
        background-color: color-mix(in oklab, var(--color-success-300), transparent 75%);
        transform: translateY(-1px) scale(1.25);
        border: 1px solid var(--color-success-200);
    }

    &.error {
        background-color: color-mix(in oklab, var(--color-destructive-300), transparent 75%);
        transform: translateY(-1px) scale(1.25);
        border: 1px solid var(--color-destructive-200);
    }
}

.registerStageSelector {
    display: flex;
    width: 100%;
}

.stageControlBtn {
    padding: 0;
    width: 40px;
    height: 40px;
}