.menuContainer {
    background-color: color-mix(in oklab, var(--color-neutral-200), transparent 60%);
    border: 1px solid var(--color-neutral-100);
    overflow: hidden;
}

.modalContainer {
    background-color: var(--color-neutral-50);
    border: 1px solid var(--color-neutral-200);
}

.modalBackground {
    background-color: color-mix(in oklab, var(--color-neutral-200), transparent 80%);
}