@import url("./root.css");

:root {
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
    --space-10: 2.5rem;
    --space-12: 3rem;
    --space-16: 4rem;

    --space-min-xs: calc(1rem * var(--mul-xs));
    --space-min-sm: calc(1rem * var(--mul-sm));
    --space-min-base: calc(1rem * var(--mul-base));
    --space-min-md: calc(1rem * var(--mul-md));
    --space-min-lg: calc(1rem * var(--mul-lg));
    --space-min-xl: calc(1rem * var(--mul-xl));

    --space-max-xs: calc(var(--space-min-xs) * 2);
    --space-max-sm: calc(var(--space-min-sm) * 2);
    --space-max-base: calc(var(--space-min-base) * 2);
    --space-max-md: calc(var(--space-min-md) * 2);
    --space-max-lg: calc(var(--space-min-lg) * 2);
    --space-max-xl: calc(var(--space-min-xl) * 2);

    --space-slope-xs: calc(
        (var(--space-max-xs) - var(--space-min-xs)) / (var(--vp-max) - var(--vp-min))
    );

    --space-slope-sm: calc(
        (var(--space-max-sm) - var(--space-min-sm)) / (var(--vp-max) - var(--vp-min))
    );

    --space-slope-base: calc(
        (var(--space-max-base) - var(--space-min-base)) / (var(--vp-max) - var(--vp-min))
    );

    --space-slope-md: calc(
        (var(--space-max-md) - var(--space-min-md)) / (var(--vp-max) - var(--vp-min))
    );

    --space-slope-lg: calc(
        (var(--space-max-lg) - var(--space-min-lg)) / (var(--vp-max) - var(--vp-min))
    );

    --space-slope-xl: calc(
        (var(--space-max-xl) - var(--space-min-xl)) / (var(--vp-max) - var(--vp-min))
    );

    --space-int-xs: calc(var(--space-min-xs) - (var(--space-slope-xs) * var(--vp-min)));
    --space-int-sm: calc(var(--space-min-sm) - (var(--space-slope-sm) * var(--vp-min)));
    --space-int-base: calc(var(--space-min-base) - (var(--space-slope-base) * var(--vp-min)));
    --space-int-md: calc(var(--space-min-md) - (var(--space-slope-md) * var(--vp-min)));
    --space-int-lg: calc(var(--space-min-lg) - (var(--space-slope-lg) * var(--vp-min)));
    --space-int-xl: calc(var(--space-min-xl) - (var(--space-slope-xl) * var(--vp-min)));

    --space-xs: clamp(
        var(--space-min-xs),
        calc(var(--space-int-xs) + (var(--space-slope-xs) * 100vw)),
        var(--space-max-xs)
    );

    --space-sm: clamp(
        var(--space-min-sm),
        calc(var(--space-int-sm) + (var(--space-slope-sm) * 100vw)),
        var(--space-max-sm)
    );

    --space-base: clamp(
        var(--space-min-base),
        calc(var(--space-int-base) + (var(--space-slope-base) * 100vw)),
        var(--space-max-base)
    );

    --space-md: clamp(
        var(--space-min-md),
        calc(var(--space-int-md) + (var(--space-slope-md) * 100vw)),
        var(--space-max-md)
    );

    --space-lg: clamp(
        var(--space-min-lg),
        calc(var(--space-int-lg) + (var(--space-slope-lg) * 100vw)),
        var(--space-max-lg)
    );

    --space-xl: clamp(
        var(--space-min-xl),
        calc(var(--space-int-xl) + (var(--space-slope-xl) * 100vw)),
        var(--space-max-xl)
    );
}
