:root {
    --neutral-100: #f8fafc;
    --neutral-200: #f1f5f9;
    --neutral-300: #e2e8f0;
    --neutral-400: #cbd5e1;
    --neutral-500: #94a3b8;
    --neutral-600: #64748b;
    --neutral-700: #475569;
    --neutral-800: #334155;
    --neutral-900: #0f172a;

    --primary-clr: #17B890;
    --secondary-clr: #DA5552;

    --danger-clr: var(--secondary-clr);

    --shadow-lvl-0: 
        0 1px 2px transparent
    ;

    --shadow-lvl-1: 
        inset 0 1px 2px color-mix(in srgb, var(--neutral-100), transparent 70%),
        0 1px 2px color-mix(in srgb, var(--neutral-600), transparent 70%),
        0 2px 4px color-mix(in srgb, var(--neutral-900), transparent 85%)
    ;

    --shadow-lvl-2: 
        inset 0 1px 2px color-mix(in srgb, var(--neutral-100), transparent 50%),
        0 2px 4px color-mix(in srgb, var(--neutral-600), transparent 70%),
        0 4px 8px color-mix(in srgb, var(--neutral-900), transparent 85%)
    ;

    --shadow-lvl-3: 
        inset 0 1px 2px color-mix(in srgb, var(--neutral-100), transparent 30%),
        0 4px 6px color-mix(in srgb, var(--neutral-600), transparent 70%),
        0 6px 10px color-mix(in srgb, var(--neutral-900), transparent 85%)
    ;
}
