:root {
    --neutral-100: #f8fafc;
    --neutral-200: #f1f5f9;
    --neutral-300: #e2e8f0;
    --neutral-400: #cbd5e1;
    --neutral-500: #94a3b8;
    --neutral-600: #64748b;
    --neutral-700: #475569;
    --neutral-800: #334155;
    --neutral-900: #0f172a;

    --primary-clr: #17B890;
    --secondary-clr: #DA5552;

    --danger-clr: var(--secondary-clr);
}
