@import url("./root.css");

:root {
    --fs-xs-min: calc(var(--fs-min) * var(--mul-xs) * 1rem);
    --fs-sm-min: calc(var(--fs-min) * var(--mul-sm) * 1rem);
    --fs-base-min: calc(var(--fs-min) * var(--mul-base) * 1rem);
    --fs-md-min: calc(var(--fs-min) * var(--mul-md) * 1rem);
    --fs-lg-min: calc(var(--fs-min) * var(--mul-lg) * 1rem);
    --fs-xl-min: calc(var(--fs-min) * var(--mul-xl) * 1rem);

    --fs-xs-max: calc(var(--fs-max) * var(--mul-xs) * 1rem);
    --fs-sm-max: calc(var(--fs-max) * var(--mul-sm) * 1rem);
    --fs-base-max: calc(var(--fs-max) * var(--mul-base) * 1rem);
    --fs-md-max: calc(var(--fs-max) * var(--mul-md) * 1rem);
    --fs-lg-max: calc(var(--fs-max) * var(--mul-lg) * 1rem);
    --fs-xl-max: calc(var(--fs-max) * var(--mul-xl) * 1rem);

    --fs-slope-xs: calc(
        (var(--fs-xs-max) - var(--fs-xs-min)) / (var(--vp-max) - var(--vp-min))
    );

    --fs-slope-sm: calc(
        (var(--fs-sm-max) - var(--fs-sm-min)) / (var(--vp-max) - var(--vp-min))
    );

    --fs-slope-base: calc(
        (var(--fs-base-max) - var(--fs-base-min)) / (var(--vp-max) - var(--vp-min))
    );

    --fs-slope-md: calc(
        (var(--fs-md-max) - var(--fs-md-min)) / (var(--vp-max) - var(--vp-min))
    );

    --fs-slope-lg: calc(
        (var(--fs-lg-max) - var(--fs-lg-min)) / (var(--vp-max) - var(--vp-min))
    );

    --fs-slope-xl: calc(
        (var(--fs-xl-max) - var(--fs-xl-min)) / (var(--vp-max) - var(--vp-min))
    );

    --fs-int-xs: calc(var(--fs-xs-min) - (var(--fs-slope-xs) * var(--vp-min)));
    --fs-int-sm: calc(var(--fs-sm-min) - (var(--fs-slope-sm) * var(--vp-min)));
    --fs-int-base: calc(var(--fs-base-min) - (var(--fs-slope-base) * var(--vp-min)));
    --fs-int-md: calc(var(--fs-md-min) - (var(--fs-slope-md) * var(--vp-min)));
    --fs-int-lg: calc(var(--fs-lg-min) - (var(--fs-slope-lg) * var(--vp-min)));
    --fs-int-xl: calc(var(--fs-xl-min) - (var(--fs-slope-xl) * var(--vp-min)));

    --fs-xs: clamp(
        var(--fs-xs-min),
        calc(var(--fs-int-xs) + (var(--fs-slope-xs) * 100vw)),
        var(--fs-xs-max)
    );

    --fs-sm: clamp(
        var(--fs-sm-min),
        calc(var(--fs-int-sm) + (var(--fs-slope-sm) * 100vw)),
        var(--fs-sm-max)
    );

    --fs-base: clamp(
        var(--fs-base-min),
        calc(var(--fs-int-base) + (var(--fs-slope-base) * 100vw)),
        var(--fs-base-max)
    );

    --fs-md: clamp(
        var(--fs-md-min),
        calc(var(--fs-int-md) + (var(--fs-slope-md) * 100vw)),
        var(--fs-md-max)
    );

    --fs-lg: clamp(
        var(--fs-lg-min),
        calc(var(--fs-int-lg) + (var(--fs-slope-lg) * 100vw)),
        var(--fs-lg-max)
    );

    --fs-xl: clamp(
        var(--fs-xl-min),
        calc(var(--fs-int-xl) + (var(--fs-slope-xl) * 100vw)),
        var(--fs-xl-max)
    );
}

body {
    font-family: 'Open Sans', sans-serif;
}