.searchCard {
    background-color: var(--neutral-300);
    border-radius: 999px;
    padding: var(--space-2);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        background-color: var(--neutral-400);
        cursor: pointer;

        .removeBtn {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.removeBtn {
    opacity: 0;
    pointer-events: none;
}