.mainHeader {
    background-color: color-mix(
        in oklab,
        var(--color-neutral-100),
        transparent 50%
    );
    transition: background-color 300ms ease-in-out;
    width: 100%;
    position: relative;
    height: 80px;

    &:hover {
        background-color: color-mix(
            in oklab,
            var(--color-neutral-100),
            transparent 25%
        );
    }
}

.topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

.topNav {
    width: clamp(500px, 66dvw, 900px);
    border: 1px solid var(--color-neutral-200);
    justify-content: space-between;
}

.bottomNav {
    background-color: var(--color-neutral-50);
    border: 1px solid var(--color-neutral-200);
    height: 100%;
    min-width: 100%;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    align-content: start;

    & .headerNavBtn {
        max-width: 100dvw;
        width: 100%;
    }
}

.headerIconBtn {
    height: max-content;
    padding: 0;
    width: clamp(64px, 7vw, 96px);
    background-color: transparent;
    box-shadow: none !important;
}

.topHeaderProfilePicture {
    border: 1px solid var(--color-neutral-100);
    width: 48px;
    height: 48px;
}

.headerNavBtn {
    padding: 0;
    overflow: visible;

    &.isActive {
        color: var(--color-neutral-50);
    }

    &:hover {
        background-color: var(--color-neutral-200);
    }
}

.navBarIndicator {
    background-color: var(--color-neutral-700);
    inset: 0;
}

.headerBtn {
    padding: 0;
    width: 40px;
    height: 40px;
}

.profileMenuBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.toggleProfileMenuBtn {
    height: 100%;
    width: 100%;
    padding: 0;
    background: transparent;
}

@media (min-width: 64rem) {
    .secondarySearchBtn {
        display: none;
    }
}