.sidebar {
    background-color: var(--neutral-100);
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
}

.sidebarBody {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    gap: var(--space-4);
    align-content: start;
    justify-content: stretch;
}