.mainSidebar {
    position: absolute;
    left: 0;
    height: 100dvh;
    z-index: 10;
    align-content: start;
    transition: width 300ms ease-in-out;
    gap: var(--space-4);
    box-shadow: 4px 0px 12px 3px color-mix(in srgb, var(--neutral-800), transparent 90%);

    &.collapsed {
        width: 0px;
        overflow: hidden;
    }

    &.expanded {
        width: clamp(200px, 100dvw, 425px);
        overflow-y: auto;
    }
}

@media (min-width: 768px) {
    .mainSidebar {
        position: relative;
        grid-area: sidebar;
        z-index: 10;
        align-content: start;
        transition: width 300ms ease-in-out;
        gap: var(--space-4);

        &.collapsed {
            align-content: space-between;
            width: 80px;
            overflow: hidden;
            padding-block: var(--space-4);

            & .collapsedSidebarHeader {
                display: flex;
                flex-direction: column;
                gap: var(--space-4);
                justify-content: center;
                align-items: center;
            }

            & .collapsedHeaderLogo {
                width: 80%;
                aspect-ratio: 1;
            }

            .collapsedSidebarBody {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: var(--space-4);
            }

            & .collapsedSidebarFooter {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: var(--space-4);
            }
        }

        &.expanded {
            width: clamp(200px, 100dvw, 425px);
            overflow-y: auto;
        }
    }
}

.mainSidebarHeader {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--neutral-100);

    & .mainSidebarHeaderContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--space-2);

        &.collapsed {
            flex-direction: column;
        }
    }
}

.mainSidebarHeaderLogo {
    flex: 0 0 clamp(10%, 3dvw, 80px);
    aspect-ratio: 1;
}

.mainSidebarBody {
    padding-inline: var(--space-4);
}

.userProfileSnippet {
    display: flex;
    gap: var(--space-8);
}

.userProfile {
    flex: 5;
    display: grid;
    gap: var(--space-2);
    background-color: var(--neutral-200);
    box-shadow: var(--shadow-lvl-2);
    border-radius: 2em;
    padding: var(--space-2);
}

.profileControlsContainer {
    flex: 1;
    display: grid;
    justify-content: center;
    align-content: space-around;
    background-color: var(--neutral-200);
    border-radius: 999px;
    box-shadow: var(--shadow-lvl-2);
    padding-inline: var(--space-2);
}

.userAvatar {
    width: clamp(40px, 50%, 120px);
    justify-self: center;
    border: 1px solid var(--neutral-300);
    border-radius: 999px;
    overflow: hidden;
}

.userInfo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--space-2);
}

.profileNameContainer {
    border: 1px solid var(--neutral-400);
    padding-left: var(--space-2);
    border-radius: 999px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userProfileName {
    color: var(--neutral-700);
    font-weight: 300;
}

.mainNavigationContainer {
    width: 100%;
    display: grid;
    gap: var(--space-4);
}

.mainNavigationHeaderContainer {
    position: relative;
}

.navigationHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-sm);
    font-weight: 300;
    border-bottom: 1px solid var(--neutral-400);
    padding-bottom: 0.4em;
}

.mainNavigation {
    width: 100%;
    display: grid;
    gap: var(--space-2);
}

button.navBtn,
a.navBtn {
    max-width: 66%;
    margin: var(--space-1);
    justify-content: start;
}

.quickOptions {
    background-color: var(--neutral-200);
    border: 1px solid transparent;
    border-radius: 1em;
    position: absolute;
    width: clamp(200px, 80%, 400px);
    left: 50%;
    bottom: calc(var(--space-2) * -1);
    transform: translate(-50%, 100%);
    transition: opacity 300ms ease-in-out, padding 300ms ease;
    overflow: hidden;
    will-change: height;

    &.active {
        border: 1px solid var(--neutral-400);
        display: grid;
        gap: var(--space-4);
        opacity: 1;
        max-height: auto;
        padding: var(--space-4);
        box-shadow: var(--shadow-lvl-2);
        z-index: 1;
    }

    &.hidden {
        pointer-events: none;
        max-height: 0;
    }
}

.mainSidebarFooter {
    width: 100%;
    display: grid;
    align-items: center;
    gap: var(--space-2);
    padding-inline: var(--space-4);
}

.mainSidebarFooterHeader {
    font-size: var(--fs-sm);
    font-weight: 300;
    border-bottom: 1px solid var(--neutral-400);
    padding-bottom: 0.4em;
}

.userNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-12);
    box-shadow: 0;
    padding: var(--space-4);
}