.dashboardIconBtn {
    padding: 0;
    width: 40px;
    height: 40px;
}

.dashboardTextBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.actionMenuBtn {
    padding: 0;
    padding-inline: calc(var(--spacing) * 4);
    gap: calc(var(--spacing) * 4);
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    justify-content: start;
    background-color: transparent;
    box-shadow: none;

    &:hover {
        background-color: color-mix(in oklab, currentColor, white 90%);
    }

    &.destructive {
        color: var(--color-destructive-300);
    }
}