.main {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: "sidebar header" "sidebar dashboard";
}

.mainHeader {
    grid-area: header;
}

.mainSidebar {
    grid-area: sidebar;
}

.mainWindow {
    width: 100%;
    height: 100%;
}