.logo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    overflow: hidden;
}

.logoImg {
    object-position: center;
    object-fit: cover;
    background-repeat: norepeat;
    width: 100%;
    height: 100%;
}