.text-input {
    border: 0;
    border-radius: 999px;

    padding: 0.5em;
    height: 100%;
    max-width: 50ch;

    background-color: var(--neutral-300);
    color: var(--neutral-900);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    outline: 2px solid transparent;

    transition: all 300ms ease;

    &:hover {
        background-color: var(--neutral-400);
    }

    &:focus {
        background-color: var(--neutral-200);
    }
}

.input-label {
    color: var(--neutral-600);
    font-size: var(--fs-sm);
    font-weight: 300;
}

.text-field {
    display: grid;
    gap: var(--space-1);
    padding: var(--space-2);
    width: 100%;

    &:focus-within {
        .text-input {
            outline: 1px solid var(--primary-clr);
        }

        .input-label {
            color: color-mix(in srgb, var(--primary-clr), black 20%);
        }
    }
}

.password-input {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    gap: var(--space-2);
    width: 100%;

    & .text-input {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        flex: 1;
    }

    & button.show-password {
        height: 100%;
        background-color: var(--neutral-300);
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

        &:hover {
            background-color: var(--neutral-400);
        }
    }
}