@property --rotate-gradient {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotate-gradient {
    to {
        --rotate-gradient: 360deg;
    }
}

.btn {
    text-decoration: none;
    font-family: inherit;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
    max-width: 20ch;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.05em;

    cursor: pointer;
    user-select: auto;
    transition: all 300ms ease-in-out;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.xs {
        font-size: var(--fs-sm);
        padding: 0.6em;
        gap: 0.2em;
    }

    &.sm {
        font-size: var(--fs-base);
        padding: 0.6em 0.4em;
        gap: 0.2em;
    }

    &.md {
        font-size: var(--fs-md);
        padding: 0.4em;
        gap: 0.4em;
    }

    &.lg {
        font-size: var(--fs-md);
        padding: 0.6em;
        gap: 0.6em;
    }

    &.xl {
        font-size: var(--fs-lg);
        padding: 0.4em;
        gap: 0.4em;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
    }
}

.icon-only {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;

    cursor: pointer;
    user-select: auto;
    transition: all 300ms ease-in-out;

    &.xs {
        font-size: var(--fs-sm);
    }

    &.sm {
        font-size: var(--fs-base);
    }

    &.md {
        font-size: var(--fs-md);
    }

    &.lg {
        font-size: var(--fs-md);
    }

    &.xl {
        font-size: var(--fs-lg);
    }
}

.primary {
    &.standard {
        border: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        background-color: var(--primary-clr);
        color: color-mix(in srgb, var(--primary-clr), white 90%);
        border-radius: 999px;

        &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            background-color: color-mix(in srgb, var(--primary-clr), white 15%);
        }

        &:active {
            background-color: color-mix(in srgb, var(--primary-clr), black 15%);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }

        &:focus {
            outline: 2px solid var(--primary-clr);
            outline-offset: 0.2em;
        }
    }

    &.toggle {
        border: 0;

        &.active {
            border-radius: 0.6em;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            background-color: var(--primary-clr);
            color: color-mix(in srgb, var(--primary-clr), white 90%);
        }

        &.inactive {
            border-radius: 999px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            background-color: color-mix(in srgb, var(--primary-clr), white 75%);
            color: color-mix(in srgb, var(--primary-clr), black 30%);
        }

        &:focus {
            outline: 2px solid var(--primary-clr);
            outline-offset: 0.2em;
        }
    }

    &.destructive {
        border: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        background-color: var(--secondary-clr);
        color: color-mix(in srgb, var(--secondary-clr), white 90%);
        border-radius: 999px;

        &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            background-color: color-mix(
                in srgb,
                var(--secondary-clr),
                white 15%
            );
        }

        &:active {
            background-color: color-mix(
                in srgb,
                var(--secondary-clr),
                black 15%
            );
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }

        &:focus {
            outline: 2px solid var(--secondary-clr);
            outline-offset: 0.2em;
        }
    }
}

.secondary {
    &.standard {
        border: 0;
        background-color: color-mix(in srgb, var(--primary-clr), white 80%);
        color: color-mix(in srgb, var(--primary-clr), black 60%);
        border-radius: 999px;

        &:hover {
            background-color: color-mix(in srgb, var(--primary-clr), white 65%);
        }

        &:active {
            background-color: color-mix(in srgb, var(--primary-clr), black 15%);
        }

        &:focus {
            outline: 2px solid var(--primary-clr);
            outline-offset: 0.2em;
        }
    }

    &.toggle {
        border: 0;

        &.active {
            border-radius: 0.6em;
            background-color: color-mix(in srgb, var(--primary-clr), black 60%);
            color: color-mix(in srgb, var(--primary-clr), white 95%);
        }

        &.inactive {
            border-radius: 999px;
            background-color: color-mix(in srgb, var(--primary-clr), white 80%);
            color: color-mix(in srgb, var(--primary-clr), black 60%);
        }

        &:focus {
            outline: 2px solid var(--primary-clr);
            outline-offset: 0.2em;
        }
    }

    &.destructive {
        border: 0;
        background-color: color-mix(in srgb, var(--secondary-clr), white 80%);
        color: color-mix(in srgb, var(--secondary-clr), black 60%);
        border-radius: 999px;

        &:hover {
            background-color: color-mix(
                in srgb,
                var(--secondary-clr),
                white 65%
            );
        }

        &:active {
            background-color: color-mix(
                in srgb,
                var(--secondary-clr),
                black 15%
            );
        }

        &:focus {
            outline: 2px solid var(--secondary-clr);
            outline-offset: 0.2em;
        }
    }
}

.tertiary {
    &.standard {
        border: 1px solid var(--neutral-600);
        color: var(--neutral-800);
        background-color: transparent;
        border-radius: 999px;

        &:hover {
            background-color: var(--neutral-200);
            color: var(--neutral-900);
            border: 1px solid var(--neutral-800);
        }

        &:active {
            background-color: var(--neutral-300);
            color: var(--neutral-800);
            border: 1px solid var(--primary-clr);
        }
    }

    &.toggle {
        &.active {
            border: 1px solid var(--neutral-600);
            color: var(--neutral-100);
            background-color: var(--neutral-800);
            border-radius: 0.6em;
        }

        &.inactive {
            border: 1px solid var(--neutral-600);
            color: var(--neutral-800);
            background-color: transparent;
            border-radius: 999px;
        }
    }

    &.destructive {
        border: 1px solid var(--secondary-clr);
        color: color-mix(in srgb, var(--secondary-clr), black 30%);
        background-color: transparent;
        border-radius: 999px;

        &:hover {
            background-color: color-mix(
                in srgb,
                var(--secondary-clr),
                white 80%
            );
            color: color-mix(in srgb, var(--secondary-clr), black 50%);
            border: 1px solid
                color-mix(in srgb, var(--secondary-clr), black 30%);
        }

        &:active {
            background-color: var(--neutral-300);
            color: var(--neutral-800);
            border: 1px solid var(--primary-clr);
        }
    }
}

.text {
    &.standard {
        border: 0;
        color: var(--neutral-800);
        background-color: transparent;
        border-radius: 999px;

        &:hover {
            background-color: var(--neutral-400);
            color: var(--neutral-900);
        }

        &:active {
            background-color: var(--neutral-300);
            color: var(--neutral-800);
        }
    }

    &.toggle {
        border: 0;
        border-radius: 999px;
        background-color: transparent;

        &.active {
            color: var(--primary-clr);
        }

        &.inactive {
            color: var(--neutral-800);

            &:hover {
                background-color: var(--neutral-200);
            }
        }
    }

    &.destructive {
        border: 0;
        color: color-mix(in srgb, var(--secondary-clr), black 30%);
        background-color: transparent;
        border-radius: 999px;

        &:hover {
            background-color: color-mix(
                in srgb,
                var(--secondary-clr),
                white 90%
            );
            color: color-mix(in srgb, var(--secondary-clr), black 50%);
        }

        &:active {
            background-color: color-mix(
                in srgb,
                var(--secondary-clr),
                white 70%
            );
            color: color-mix(in srgb, var(--secondary-clr), black 70%);
        }
    }
}
