.svg-inline--fa {
    width: 100%;
    aspect-ratio: 1;
}

.btn {
    transition: width 300ms ease-in-out, color 300ms ease-in-out,
        background 300ms ease-in-out, background-color 300ms ease-in-out,
        border 300ms ease-in-out, box-shadow 300ms ease-in-out,
        transform 300ms ease-in-out, filter 300ms ease-in-out,
        opacity 300ms ease-in-out;
    white-space: nowrap;
    text-align: center;
    max-width: 15ch;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.primary {
        font-weight: 600;
        box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0) inset,
            var(--shadow-sm);

        &:hover {
            box-shadow: 0px 0px 12px 2px rgba(255, 255, 255, 0.3) inset,
                var(--shadow-md);
            transform: translateY(-1px);
        }
    }

    &.secondary {
        font-weight: 300;
    }

    &.outlined {
        font-weight: 500;
        border: 1px solid var(--color-neutral-500);

        &:hover {
            border: 1px solid var(--color-neutral-700);
        }
    }

    &.ghost {
        font-weight: 500;
    }

    &.link {
        font-weight: 500;
    }

    &.destructive {
        font-weight: 500;
    }

    &:disabled {
        opacity: 25%;
        cursor: not-allowed;
    }
}

.svg-inline--fa {
    width: max-content;
}
