@import "tailwindcss";

@theme {
    --color-primary: #7FFF00;
    --color-secondary: #FF007F;
    --color-accent: #007FFF;
    --color-destructive: #FF3F00;
    --color-warning: #FFBE00;
    --color-success: #C0FF00;

    --color-primary-50: color-mix(in oklch, var(--color-primary), white 45%);
    --color-primary-100: color-mix(in oklch, var(--color-primary), white 40%);
    --color-primary-200: color-mix(in oklch, var(--color-primary), white 30%);
    --color-primary-300: color-mix(in oklch, var(--color-primary), white 20%);
    --color-primary-400: color-mix(in oklch, var(--color-primary), white 10%);
    --color-primary-500: var(--color-primary);
    --color-primary-600: color-mix(in oklch, var(--color-primary), black 10%);
    --color-primary-700: color-mix(in oklch, var(--color-primary), black 20%);
    --color-primary-800: color-mix(in oklch, var(--color-primary), black 30%);
    --color-primary-900: color-mix(in oklch, var(--color-primary), black 40%);
    --color-primary-950: color-mix(in oklch, var(--color-primary), black 50%);

    --color-secondary-50: color-mix(in oklch, var(--color-secondary), white 45%);
    --color-secondary-100: color-mix(in oklch, var(--color-secondary), white 40%);
    --color-secondary-200: color-mix(in oklch, var(--color-secondary), white 30%);
    --color-secondary-300: color-mix(in oklch, var(--color-secondary), white 20%);
    --color-secondary-400: color-mix(in oklch, var(--color-secondary), white 10%);
    --color-secondary-500: var(--color-secondary);
    --color-secondary-600: color-mix(in oklch, var(--color-secondary), black 10%);
    --color-secondary-700: color-mix(in oklch, var(--color-secondary), black 20%);
    --color-secondary-800: color-mix(in oklch, var(--color-secondary), black 30%);
    --color-secondary-900: color-mix(in oklch, var(--color-secondary), black 40%);
    --color-secondary-950: color-mix(in oklch, var(--color-secondary), black 45%);

    --color-accent-50: color-mix(in oklch, var(--color-accent), white 45%);
    --color-accent-100: color-mix(in oklch, var(--color-accent), white 40%);
    --color-accent-200: color-mix(in oklch, var(--color-accent), white 30%);
    --color-accent-300: color-mix(in oklch, var(--color-accent), white 20%);
    --color-accent-400: color-mix(in oklch, var(--color-accent), white 10%);
    --color-accent-500: var(--color-accent);
    --color-accent-600: color-mix(in oklch, var(--color-accent), black 10%);
    --color-accent-700: color-mix(in oklch, var(--color-accent), black 20%);
    --color-accent-800: color-mix(in oklch, var(--color-accent), black 30%);
    --color-accent-900: color-mix(in oklch, var(--color-accent), black 40%);
    --color-accent-950: color-mix(in oklch, var(--color-accent), black 45%);

    --color-destructive-50: color-mix(in oklch, var(--color-destructive), white 45%);
    --color-destructive-100: color-mix(in oklch, var(--color-destructive), white 40%);
    --color-destructive-200: color-mix(in oklch, var(--color-destructive), white 30%);
    --color-destructive-300: color-mix(in oklch, var(--color-destructive), white 20%);
    --color-destructive-400: color-mix(in oklch, var(--color-destructive), white 10%);
    --color-destructive-500: var(--color-destructive);
    --color-destructive-600: color-mix(in oklch, var(--color-destructive), black 10%);
    --color-destructive-700: color-mix(in oklch, var(--color-destructive), black 20%);
    --color-destructive-800: color-mix(in oklch, var(--color-destructive), black 30%);
    --color-destructive-900: color-mix(in oklch, var(--color-destructive), black 40%);
    --color-destructive-950: color-mix(in oklch, var(--color-destructive), black 45%);

    --color-success-50: color-mix(in oklch, var(--color-success), white 45%);
    --color-success-100: color-mix(in oklch, var(--color-success), white 40%);
    --color-success-200: color-mix(in oklch, var(--color-success), white 30%);
    --color-success-300: color-mix(in oklch, var(--color-success), white 20%);
    --color-success-400: color-mix(in oklch, var(--color-success), white 10%);
    --color-success-500: var(--color-success);
    --color-success-600: color-mix(in oklch, var(--color-success), black 10%);
    --color-success-700: color-mix(in oklch, var(--color-success), black 20%);
    --color-success-800: color-mix(in oklch, var(--color-success), black 30%);
    --color-success-900: color-mix(in oklch, var(--color-success), black 40%);
    --color-success-950: color-mix(in oklch, var(--color-success), black 45%);

    --color-warning-50: color-mix(in oklch, var(--color-warning), white 45%);
    --color-warning-100: color-mix(in oklch, var(--color-warning), white 40%);
    --color-warning-200: color-mix(in oklch, var(--color-warning), white 30%);
    --color-warning-300: color-mix(in oklch, var(--color-warning), white 20%);
    --color-warning-400: color-mix(in oklch, var(--color-warning), white 10%);
    --color-warning-500: var(--color-warning);
    --color-warning-600: color-mix(in oklch, var(--color-warning), black 10%);
    --color-warning-700: color-mix(in oklch, var(--color-warning), black 20%);
    --color-warning-800: color-mix(in oklch, var(--color-warning), black 30%);
    --color-warning-900: color-mix(in oklch, var(--color-warning), black 40%);
    --color-warning-950: color-mix(in oklch, var(--color-warning), black 45%);

    --bg-background: var(--color-white);
}

body {
    font-family: 'Open Sans', ui-sans-serif, sans-serif, serif;
    background-color: var(--bg-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}