.sidebar {
    display: grid;
    padding: var(--space-4) var(--space-2);
    background-color: var(--neutral-200);
    transition: all 300ms ease;
    width: 80px;
    height: 100dvh;

    &.expanded {
        width: 300px;
        position: absolute;
    }
}

.collapsedView {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.collapsedGroup {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    align-items: center;
    justify-content: center;
}

.expandedView {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
}

.sidebarNavContainer {
    display: grid;
    gap: var(--space-4);
    justify-content: start;
    align-items: center;
}

.sidebarNav {
    width: 100%;
    display: grid;
    justify-content: stretch;
    align-content: center;
    gap: var(--space-2);

    & button, a {
        justify-content: start;
    }
}

.collapseBtn {
    align-items: center;
    gap: var(--space-4);
}

.createRecipe {
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.expandedGroup {
    display: flex;
    gap: var(--space-4);
    align-items: center;
}

@media (min-width: 768px) {
    .sidebar.expanded {
        position: relative;
    }
}