.searchResultsContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: var(--space-2);
    gap: var(--space-4);
    max-height: 100%;
    overflow-y: auto;
}

.cardsList {
    display: grid;
    gap: var(--space-8);
    height: 100%;

    &.empty,
    &.loading {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        place-content: center;
    }

    &.populated {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        place-content: start;
    }
}

.loadingCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
}

.emptyCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    aspect-ratio: 1;
    align-self: center;
    justify-self: center;
}

.loadingText {
    color: var(--neutral-700);
    font-size: var(--fs-md);
}