.recipeCardHeader {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    border-radius: inherit;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: transform 300ms ease-in-out;

    & img {
        transition: transform 300ms ease-in-out;
    }

    &:hover {
        transform: translateY(-8px);
    }

    &:hover img {
        transform: scale(1.2);
    }
}

.primaryActions {
    display: flex;
    gap: var(--space-2);
    background-color: var(--neutral-300);
    border-radius: 999px;
    padding: var(--space-1);
}

.recipeCardBody {
    padding-inline: var(--space-4);
    display: grid;
    grid-template-rows: auto auto;
    align-content: start;
    gap: var(--space-4);
}

.recipeCardBadges {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--space-4);
}

.recipeCardBadge {
    font-size: var(--fs-xs);
    border: 1px solid var(--neutral-400);
    padding: var(--space-1);
    border-radius: 999px;
    min-width: 10ch;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-200);
    text-transform: capitalize;
}

.recipeCardFooter {
    padding: var(--space-4);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--space-1);
}

.recipeCardTitle {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-size: var(--fs-base);
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipeCardTitleText {
    color: var(--neutral-700);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    font-size: var(--fs-base);
}

.recipeCardAuthorText {
    color: var(--neutral-500);
    font-size: var(--fs-sm);
    white-space: nowrap;
}

.cookingTimeContainer {
    padding: var(--space-1) var(--space-2);
    border: 1px solid var(--neutral-300);
    background-color: color-mix(in srgb, var(--primary-clr), white 90%);
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-1);
}

.cookingTimeText {
    font-size: var(--fs-xs);
}

.recipeCard {
    grid-template-rows: auto 1fr auto;
    height: 450px;
    transition: box-shadow 300ms ease, background-color 300ms ease;

    &:hover {
        box-shadow: color-mix(in srgb, var(--primary-clr), transparent 75%) 0px 6px 18px -2px, color-mix(in srgb, var(--primary-clr), transparent 70%) 0px 3px 10px -3px;
        background-color: color-mix(in srgb, var(--primary-clr), white 95%);
    }
}