.card {
    background-color: var(--neutral-100);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: var(--space-12);
    padding: var(--space-base);
    display: grid;
    gap: var(--space-4);
}

.cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBody {
    display: grid;
    gap: var(--space-2);
}

.cardFooter {
    display: grid;
    gap: var(--space-2);
}