.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-4);
}

.headerGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
}

.headerLogo {
    display: flex;
    width: clamp(48px, 8dvw, 72px);
    aspect-ratio: 1;
}

.headerLoggedInView {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);
}

.headerLogoText {
    display: none;
}

.headerUserName {
    font-size: var(--fs-sm);
    color: var(--neutral-600);
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .headerLogoText {
        display: inline-flex;
    }
}