.icon {
    background-color: transparent;
    font-size: inherit;
    display: inline-flex;
    justify-content: center;
    line-height: inherit;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    width: max-content;
    height: max-content;
}

.standard {
    & :global(.material-symbols-outlined) {
        font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 24;
        font-size: inherit;
        line-height: inherit;
        max-width: fit-content;
        max-height: fit-content;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }
}

.toggle {
    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 24;

    &.toggled :global(.material-symbols-outlined) {
        font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 24;
        font-size: inherit;
    }

    &.untoggled :global(.material-symbols-outlined) {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
        font-size: inherit;
    }
}