.forgotPassword {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);

    & span {
        font-size: var(--fs-sm);
        font-weight: 400;
        color: var(--neutral-700);
    } 
}

button.passwordReset {
    color: var(--primary-clr);
    padding: 0;
}