.actionText {
    font-size: var(--fs-xl);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--neutral-700);
    padding-inline: var(--space-4);
}